*, *::after, *::before{
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
  }
body{
    margin:0;
    background-color: black;
}

.board{
    width: 100vw;
    height: 100vh;
    display:grid;
    justify-content:center;
    align-content:center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
}

.cell{
    width:var(--cell-size);
    height:var(--cell-size);
    background-color: black;
    border:1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.cell:nth-child(n+1){
    border-top: none;
}

.cell:nth-child(3n+1){
    border-left: none;
}

.cell:nth-child(3n+3){
    border-right: none;
}

.cell:nth-child(n+7){
    border-bottom: none;
}

.cell.x::before,
.cell.x::after{
    content:"";
    width:calc(var(--mark-size)*.15);
    height:var(--mark-size);
    background-color: white;
    position: absolute;
}



.cell::before{
    transform: rotate(45deg);
}

.cell::after{
    transform: rotate(-45deg);
}